body {
  font-family: courier;
  background: tan;
}

#intro {
  border: 2px black solid;
  text-align: center;
  font-size: 14px;
}

.person {
  font-size: 20px;
}

#heading {
  font-size: 50px;
  text-align: center;

}

#find_doctor {
  text-align: center;
}

#display {
  text-align: center;
  display: none;
}
