body {
  font-family: courier;
  background: tan;
}

#intro {
  border: 2px black solid;
  text-align: center;
  font-size: 14px;
}

.person {
  font-size: 20px;
}

#heading {
  font-size: 50px;
  text-align: center;

}

#find_doctor {
  text-align: center;
}

#display {
  display: none;
}

#cross {
  float: right;
  width: 100px;
  height: 100px;
  padding-top: 5px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#recents {
  float: right;
}
